.container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

#note-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#note-list {
  list-style-type: upper-alpha;
  line-height: 1.5;
  /* padding: 0; */
  /* padding-left: 20px; */
}
#note-list button {
  border: 0;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.note-item {
  margin-bottom: 10px;
}

.note-item button {
  margin-left: 10px;
}
